{% extends 'base.html' %}
{% block content %}
 <div class="container">
  <div class="form-container">
    <h2 class="title">{{title2}}</h2>
   
    <form method="post" enctype="multipart/form-data" >
        {% csrf_token %}
        {% comment %} {{form.as_p}} {% endcomment %}
        {% for field in form %}
        <div class="form-group">
            <label for="{{field.id_for_label}}">{{field.label}}</label>
            {{field}}
        </div>
        {% endfor %}
        <div class="form-group">
            <input type="submit" value="Guardar" class="btn blue">
            <a href={% url 'core:product_list' %} class="btn red"> Cancelar </a>
        </div>
    </form>
</div>
</div>
{% endblock content  %}