<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <title>{% block title %}{{ title1 }}{% endblock %}</title>
</head>
<body>
  <header id="header">
    <span class="logo">SMART ZONE</span>
    <nav>
      <ul class="menu">
        <li><a href="{% url 'home' %}">Inicio</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'core:product_list' %}">Productos</a></li>
        <li><a href="{% url 'core:brand_list' %}">Marcas</a></li>
        <li><a href="{% url 'core:category_list' %}">Categorias</a></li>
        <li><a href="{% url 'core:supplier_list' %}">Proveedores</a></li>
        <li><a href="{% url 'logout' %}">Desconectarse</a></li>
        {% else %}
        <li><a href="{% url 'singin' %}">Iniciar Sesión</a></li>
        <li><a href="{% url 'signup' %}">Registrarse</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>
  <main id="content">
    {% block content %}
    {% endblock content %}
  </main>
</body>
</html>
