{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="form-container">
    <form class="form-container" method="POST">
     {% csrf_token %}
     <h1 class="title">{{ title2 }}</h1>
    <h2>¿Desea Eliminar esta categoria? {{ brand.name }}
       <span>{{ brand.id }} - {{ brand.description }}</span>
    </h2>
     <div>
         <button class="btn blue" type="submit">Eliminar</button>
         <a class="btn red" href="{% url 'core:brand_list' %}" >Regresar</a>
     </div>
    </form>
  </div>
</div>
{% endblock content %}